<form method="post" action="{{ path('app_demo_ci_delete', {'id': demo_ci.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demo_ci.id) }}">
    <button class="btn">Delete</button>
</form>
