{% extends 'base.html.twig' %}

{% block title %}Edit DemoCi{% endblock %}

{% block body %}
    <h1>Edit DemoCi</h1>

    {{ include('demo_ci/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_demo_ci_index') }}">back to list</a>

    {{ include('demo_ci/_delete_form.html.twig') }}
{% endblock %}
