{% extends 'base.html.twig' %}

{% block title %}DemoCi index{% endblock %}

{% block body %}
    <h1>DemoCi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Demo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demo_ci in demo_cis %}
            <tr>
                <td>{{ demo_ci.id }}</td>
                <td>{{ demo_ci.demo }}</td>
                <td>
                    <a href="{{ path('app_demo_ci_show', {'id': demo_ci.id}) }}">show</a>
                    <a href="{{ path('app_demo_ci_edit', {'id': demo_ci.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demo_ci_new') }}">Create new</a>
{% endblock %}
