{% extends 'base.html.twig' %}

{% block title %}New DemoCi{% endblock %}

{% block body %}
    <h1>Create new DemoCi</h1>

    {{ include('demo_ci/_form.html.twig') }}

    <a href="{{ path('app_demo_ci_index') }}">back to list</a>
{% endblock %}
