{% extends 'base.html.twig' %}

{% block title %}DemoCi{% endblock %}

{% block body %}
    <h1>DemoCi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demo_ci.id }}</td>
            </tr>
            <tr>
                <th>Demo</th>
                <td>{{ demo_ci.demo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_demo_ci_index') }}">back to list</a>

    <a href="{{ path('app_demo_ci_edit', {'id': demo_ci.id}) }}">edit</a>

    {{ include('demo_ci/_delete_form.html.twig') }}
{% endblock %}
